In [2]:
import pandas as pd

In [3]:
dataset = pandas.read_csv('iris_with_species.csv', index_col=0,header=0
    )

In [7]:
dataset

             Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
sample1       setosa           5.1          3.5           1.4          0.2
sample2       setosa           4.9          3.0           1.4          0.2
sample3       setosa           4.7          3.2           1.3          0.2
sample4       setosa           4.6          3.1           1.5          0.2
sample5       setosa           5.0          3.6           1.4          0.2
...              ...           ...          ...           ...          ...
sample146  virginica           6.7          3.0           5.2          2.3
sample147  virginica           6.3          2.5           5.0          1.9
sample148  virginica           6.5          3.0           5.2          2.0
sample149  virginica           6.2          3.4           5.4          2.3
sample150  virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [8]:
type(dataset)

pandas.core.frame.DataFrame

In [9]:
dataset.shape

(150, 5)

In [11]:
dataset.shape[0]

150

In [12]:
dataset.index

Index(['sample1', 'sample2', 'sample3', 'sample4', 'sample5', 'sample6',
       'sample7', 'sample8', 'sample9', 'sample10',
       ...
       'sample141', 'sample142', 'sample143', 'sample144', 'sample145',
       'sample146', 'sample147', 'sample148', 'sample149', 'sample150'],
      dtype='object', length=150)

In [13]:
dataset.index[0]

'sample1'

In [14]:
dataset.columns[0]

'Species'

In [16]:
dataset.index[[2,4]]

Index(['sample3', 'sample5'], dtype='object')

In [17]:
dataset.index[31:35]

Index(['sample32', 'sample33', 'sample34', 'sample35'], dtype='object')

In [18]:
dataset.index[-1]

'sample150'

In [19]:
dataset.iloc[0,0]

'setosa'

In [20]:
dataset

             Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
sample1       setosa           5.1          3.5           1.4          0.2
sample2       setosa           4.9          3.0           1.4          0.2
sample3       setosa           4.7          3.2           1.3          0.2
sample4       setosa           4.6          3.1           1.5          0.2
sample5       setosa           5.0          3.6           1.4          0.2
...              ...           ...          ...           ...          ...
sample146  virginica           6.7          3.0           5.2          2.3
sample147  virginica           6.3          2.5           5.0          1.9
sample148  virginica           6.5          3.0           5.2          2.0
sample149  virginica           6.2          3.4           5.4          2.3
sample150  virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [21]:
dataset.iloc[2,3
            ]

1.3

In [22]:
dataset.iloc[10,:]

Species         setosa
Sepal.Length       5.4
Sepal.Width        3.7
Petal.Length       1.5
Petal.Width        0.2
Name: sample11, dtype: object

In [23]:
dataset.iloc[-1,:]

Species         virginica
Sepal.Length          5.9
Sepal.Width           3.0
Petal.Length          5.1
Petal.Width           1.8
Name: sample150, dtype: object

In [24]:
dataset.shape

(150, 5)

In [25]:
dataset.iloc[5:10,:]

         Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
sample6   setosa           5.4          3.9           1.7          0.4
sample7   setosa           4.6          3.4           1.4          0.3
sample8   setosa           5.0          3.4           1.5          0.2
sample9   setosa           4.4          2.9           1.4          0.2
sample10  setosa           4.9          3.1           1.5          0.1

In [26]:
dummy_dataset = pd.get_dummies(dataset.iloc[:,0])

In [27]:
dummy_dataset

           setosa  versicolor  virginica
sample1         1           0          0
sample2         1           0          0
sample3         1           0          0
sample4         1           0          0
sample5         1           0          0
...           ...         ...        ...
sample146       0           0          1
sample147       0           0          1
sample148       0           0          1
sample149       0           0          1
sample150       0           0          1

[150 rows x 3 columns]

In [29]:
dummy_dataset.to_csv('species_dummy.csv')

In [ ]:
pd.read